<div class="row p-5 mx-0 bg-warning w-100">
    <div class="col-6">
        <h1>Information</h1>
        <nav class="nav flex-column">
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link" href="#">Return Policy</a>
        <a class="nav-link" href="#">Contact</a>
        </nav>
    </div>

    <div class="col-6">
        <img src="/images/gameDROP_black.png" class="img-fluid" alt="Large GameDrop Logo">
        <h1>Follow Us</h1>
        <img src="/images/twitter-logo.png" alt="Twitter Logo">
        <img src="/images/facebook-logo.png" alt="Twitter Logo">
        <img src="/images/instagram-logo.png" alt="Twitter Logo">
        <img src="/images/youtube-logo.png" alt="Twitter Logo">
        <img src="/images/twitch-logo.png" alt="Twitter Logo">
    </div>
</div>