<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">
        <img src="/images/Logo1.png" alt="GameDrop Logo" class="img-fluid mr-1">
        GameDrop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart">
                    <i class="fas fa-shopping-cart"></i> Shopping Cart
                    <span class="badge badge-pill badge-danger ml-1 align-text-bottom">{{ session.cart.totalQty }}</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if login }} {{!-- If user is logged in --}}
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{ else }}
                        <a class="dropdown-item" href="/user/signup">Sign Up</a>
                        <a class="dropdown-item" href="/user/signin">Sign In</a>
                    {{/if}}
                    
                </div>
            </li>
        </ul>
    </div>
</nav>