.navbar-brand img {
    max-width: 3rem;
}

.carousel-item {
    height: 21rem;
}

.card-img-top {
    height: 24rem;
}

.hidden {
    display: none;
}

footer img:not(:first-of-type) {
    max-height: 2rem;
    margin: 0 .5rem;
}