.navbar-brand img {
    max-width: 4rem;
}

.carousel-item {
    height: 21rem;
}

.card-img-top {
    height: 24rem;
}

.hidden {
    display: none;
}

footer img:not(:first-of-type) {
    max-height: 2rem;
    margin: 0 .5rem;
}

#signup-page,
#signin-page {
    margin-bottom: 12rem;
}

#shopping-cart-page {
    margin-bottom: 26rem;
}

#checkout-page {
    margin-bottom: 5rem;
}

#rate-page {
    margin-bottom: 6.6rem;
}