body {
  background-color: #181B1B;
  font: 14px "Program OT Bold", Arial, sans-serif;
  overflow-x: hidden;
}

a, u, link {
    text-decoration: none;
}

h1 {
  font-weight: bold;
  padding-left: 50px;
  color: #a5a5a5;
  opacity: .5;
}

/* Header/Navigation */
#logo1 {
  height: 80%;
  margin-left: 55px;
  margin-top: 10px;
  float:left;
}

#logo2 {
  width:40%;
  margin-top: 10px;
  float:left;
}

.navbar-brand {
  height: 80px;
  width:350px;
  padding: 0;
}

.navbar {
  background-color:  #181B1B;
  border: none;
  border-radius: 0;
  margin: 0;
  border-bottom: .5px solid #f7ab03;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #181B1B;
}

.badge {
  margin-left: 5px;
  background-color: #f7ab03;
}

.dropdown-menu {
  padding: 0;
}

.drop-tab {
  background-color: #181B1B;
  border: 1px solid #f7ab03;
  padding: 5px;
}

.drop-tab a {
  color: #a5a5a5;
}

.drop-tab a:hover {
  color: #f7ab03;
}

#accnt-toggle:hover, #accnt-toggle:focus {
  color: #f7ab03;
}

#cart-link:hover, #cart-link:focus {
  color: #f7ab03;
}

.accnt-link {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* Account Details */
.account-details {
  padding: 50px;
  min-height: 600px;}
  @media (min-width: 980px) {
    .account-details {
    padding: 150px;}}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Login/Register Form */
.form-errors {
  color: white;
  background-color: #f7ab03;
  text-align: center;
  width: 50%;
  min-width:350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.form-errors p {
  padding: 25px;
  color: white;
  margin: 0;
}

.reg-success {
  text-align: center;
  color:  #f7ab03;
  font-size: 24px;
  font-weight: bold;
}

.form-box {
  min-height: 600px;
  padding: 10px;
}

.form-box h1 {
  margin-left: 25px;
  font-weight: bold;
  font-size: 42px;
}

#register-form {
  min-width: 350px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#login-form {
  min-width: 350px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.input-group, .btn-group {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form label, #register-form label, #email, #password  {
  width: 100%;
  float: left;
}

#login-form label, #register-form label {
  margin-left: 10px;
  color: #a5a5a5;
}

#email, #password {
  color: black;
  background-color: #a5a5a5;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #f7ab03;
}

.form-btn {
  padding: 10px;
  color: black;
  background-color: #a5a5a5;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 25%;
}

.form-btn:hover {
  color: white;
  background-color: #f7ab03;
}

/* Home */
.wrapper {
  background-color: #181B1B;
  padding: 25px;}
  @media (min-width: 750px) {
    .wrapper {
      padding: 50px;
      padding-top: 25px;}}
      @media (min-width: 1100px) {
        .wrapper {
          padding: 100px;
          padding-top: 25px;}}
          @media (min-width: 1400px) {
            .wrapper {
              padding-top: 25px;
              padding-left: 200px;
              padding-right: 200px;
              padding-top: 25px;}}

.wrapper:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;}

.carousel-container {
  overflow-y: hidden;
  overflow-x: hidden;}

#carousel, .carousel{
  position: relative;
  top: -5px;
  max-height: 340px;
  width: 100%;}
  @media (min-width: 1100px) {
    #carousel, .carousel {
      width: 100%;
      top: -15px;
      margin-left: auto;
      margin-right: auto;}}

.carousel-inner, .item {
  max-height: 340px;
  width: 100%;}
  @media (min-width: 1100px) {
    .carousel-inner {
      max-height: 400px;}}

.section-header {
  font-weight: bold;
  color: #f7ab03;
  border-bottom: .5px solid #a5a5a5;
  padding-left: 25px;
}

.game {
  width: calc(50% - 20px);
  float: left;
  padding: 0;
  margin: 10px;
  border-radius: 0;
  border: 1px outset #f7ab03;}
  @media (min-width: 560px) {
    .game {
      float: left;
      width: calc(33.3% - 20px);
      margin: 10px;}}
      @media (min-width: 775px) {
        .game {
          float: left;
          width: calc(25% - 20px);}}
      @media (min-width: 1100px) {
        .game {
          float: left;
          width: calc(20% - 20px);}}

.img-frame {
  height: 150px;
  width: 100%;
  overflow-y: hidden;}
  @media (min-width: 400px) {
    .img-frame {
      height: 200px;
    }}

.game .img-frame img {
  width: 100%;}

#game-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

.caption {
  background-image: url('/images/screen.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px inset #a5a5a5;
  padding: 5px;
  height: 75px;
  padding-bottom: 10px;}
  @media (min-width: 400px) {
    .caption {
      background-size: auto;
      height: 100px;
      padding: 10px;}}

.caption h3{
  color: white;
  font-size: 12px;
  margin-top: 0;
  font-weight: bold;}
  @media (min-width: 400px) {
    .caption h3 {
    font-size: 14px;}}

.description {
  display: none;}
  @media (min-width: 400px) {
    .description {
      color: #a5a5a5;
      display: block;
      font-size: 12px;
      max-height: 75px;
      overflow-x: hidden;}}

.releaseDate {
  display: none;}
  @media (min-width: 400px) {
    .releaseDate {
      color: #a5a5a5;
      display: block;
      font-size: 10px;}}

.price {
  color: white;
  font-weight: bold;
  font-size: 12px;}
  @media (min-width: 350px) {
    .price {
      font-size: 14px;}}

.addBtn {
  width:100%;
  color: white;
  border: 1px outset white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  border-radius: 0;
  clear: both;
  text-decoration: none;
}

.addBtn a {
  text-decoration: none;
}

.addBtn:hover {
  cursor: pointer;
  background-color: #f7ab03;
  border: 1px outset #f7ab03;
}

/* Item Details */
.details {
min height: 600px;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 10px;}
@media (min-width: 980px) {
  .details {
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;}}

.imgFrame {
  width: 50%;
  float: left;}
  @media (min-width: 980px) {
    .imgFrame {
      width: 25%;}}

.imgFrame img {
  width: 100%;
  max-width: 300px;
}

.caption-details {
  width: 100%;
  padding: 10px;
  float: left;}
  @media (min-width: 980px) {
    .caption-details {
      width: calc(75% - 20px);
      margin: 10px;}}


.title-details {
  color: #f7ab03;
  font-size: 32px;
}

.description-details {
  color: white;
  font-size: 16px;
}

.release-details {
  color: #a5a5a5;
}

.price-details {
  color: white;
  font-size: 18px;
}

.addBtn-details {
  width: 200px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  border: 1px outset white;
  border-radius: 5px;
}

.addBtn-details:hover {
  cursor: pointer;
  color: #f7ab03;
  border: 1px outset #f7ab03;
}

.addToRadar {
  color: white;
  width: 150px;
  margin-top: 10px;
  background-image: url('/images/radarIcon.png');
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border: 1px outset white;
  padding: 10px;
  border-radius: 5px;
}

.addToRadar:hover {
  color: #f7ab03;
  border: 1px outset #f7ab03;;
}

.radar-icon {
  width: 35px;
  height: 35px;
  background-image: url('/images/radarIcon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: 10px;
  opacity: .5;
}

.details:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.reviews {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;}
  @media (min-width: 980px) {
    .reviews {
      padding-left: 150px;
      padding-right: 150px;}}

/* Game Radar List */
.game-radar {
  max-width: 500px;
  min-height: 550px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.game-radar h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.radar-row {
  height: 100px;
  margin: 10px;
  border-bottom: 5px solid #a5a5a5;
  border-top: 1px solid white;
  border-radius: 5px;
}

.radar-img {
  height: 100%;
  border-top-left-radius: 5px;
  float: left;
}

.radar-info {
  float: left;
  width: 35%;
}

.radar-title {
  color: white;
  width: 100%;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.radar-price {
  color: #f7ab03;
  width: 100%;
  margin-left: 10px;
}

.radar-dropBtn, .radar-addBtn {
  color: white;
  background-color: #181B1B;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  float: right;
  clear: right;
}

.radar-addBtn {
  padding-top: 10px;
}

.radar-dropBtn:hover, .radar-addBtn:hover {
  color: #f7ab03;
  font-weight: bold;
}

.radar-row:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.game-radar:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

.empty-radar {
  text-align: center;
  margin-top: 50px;
  min-height: 550px;
  border-top: 1px solid white;
  max-width: 800px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.empty-radar h1 {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  text-align: center;
}

.empty-radar h2 {
  color: #f7ab03;
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  text-align: center;
}

.radar-empty-icon {
  width: 250px;
  height: 250px;
  background-image: url('/images/radarIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  opacity: .5;
}

/* Cart */
.cart-items {
  min-height: 550px;
  max-width: 1250px;
  padding: 5px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;}



.no-items {
  min-height: 200px;
  max-width: 1250px;
  padding: 5px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  background-image: url('/images/gameDROP3.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 300px;
  margin-bottom: 100px;}
  @media (min-width: 700px) {
    .no-items {
      background-size: 500px;
      min-height: 250px;}}

.no-items h2 {
  color: #a5a5a5;
  margin: 0;
  padding: 0;
  text-align: center;
}

.no-items p {
  color: #a5a5a5;
  margin: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#cart-item {
  background-color: #181B1B;
  border: 4px double #f7ab03;
  border-radius: 5px;
  margin-bottom: 5px;
}

#cart-image {
  width: 50px;
  margin-right: 10px;
}

#cart-title {
  color: white;
  margin-right: 10px
}

#cart-price{
  font-size: 12px;
  background-color: #f7ab03;
}

#cart-dropdown {
  list-style: none;
  list-style-type: none;
  margin-top: 5px;
}

#cart-update {
  list-style: none;
  list-style-type: none;
  color: #f7ab03;
  font-weight: bold;
  text-decoration: none;
}

.increase, .reduce, .remove {
  color: white;
  padding: 5px;
  text-align: center;
}

.increase:hover, .reduce:hover, .remove:hover {
  color: #f7ab03;
  cursor: pointer;
}

.dropToRadar {
  color: #a5a5a5;
  margin-top: 10px;
}

.dropToRadar:hover {
  color: white;
}

#cart-total {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #f7ab03;
  text-align: right;
  padding-right: 25px;
}

#checkout {
  text-align: center;
  margin-bottom: 50px;
}

#checkOut-btn {
  width: 80%;
  text-align: center;
  background-color: #f7ab03;
  margin-top: 10px;
  border: 2px outset #f7ab03;
}

/* Footer */
footer {
  color: white;
  background-color: #f7ab03;
  padding-bottom: 20px;
}

footer:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;}

#infoBox {
  width: calc(40% - 50px);
  margin-top: 20px;
  margin-bottom: 0;
  float: left;}
  @media (min-width: 700px) {
      #infoBox {
        margin: 25px;}}

#infoBox ul{
  padding: 0;}

#infoBox li {
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;}
  @media (min-width: 700px) {
    #infoBox li  {
      font-size: 18px;}}

#infoBox h2  {
  font-size: 16px;}
@media (min-width: 700px) {
  #infoBox h2  {
    font-size: 24px;}}

#infoBox a {
  color: black;
}

#logo3 {
  width: 100%;
  margin: 10px;
}

#followBox {
  text-align: center;
  width: 60%;
  margin: 10px;
  margin-bottom: 0;
  float: left;}
  @media (min-width: 700px) {
    #followBox {
      width: calc(60% - 20px);}}

#followBox h3{
  margin-top: 0;
  color: #181B1B;
  font-weight: bold;
}

#infoBox h2 {
  margin-top: 0;
  color: #181B1B;
  font-weight: bold;
}

.follow-icon {
  height: 15px;
  margin: 5px;
  margin-bottom: 0;}
  @media (min-width: 700px) {
    .follow-icon {
      height: 25px;}}

.follow-icon img {
  height: 15px;}
  @media (min-width: 700px) {
    .follow-icon img {
      height: 25px;}}
