body {
  background-color: #181B1B;
  font: 14px "Program OT Bold", Arial, sans-serif;
  overflow-x: hidden;
}

#logo1 {
  height: 80%;
  margin-left: 55px;
  margin-top: 10px;
  float:left;
}

#logo2 {
  width:40%;
  margin-top: 10px;
  float:left;
}

.navbar-brand {
  height: 80px;
  width:350px;
  padding: 0;
}

.navbar {
  background-color:  #181B1B;
  border: none;
  border-radius: 0;
  margin: 0;
  border-bottom: .5px solid #f7ab03;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #f7ab03;
}

.dropdown-menu {
  padding: 0;
}

.drop-tab {
  background-color: #181B1B;
  border: 1px solid #f7ab03;
  padding: 5px;
}

.drop-tab a {
  color: #a5a5a5;
}

.drop-tab a:hover {
  color: #f7ab03;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#carousel, .carousel{
  max-height: 340px;
  width: 100%;}
  @media (min-width: 1100px) {
    #carousel, .carousel {
      width: 90%;
      max-height: 400px;
      margin-left: auto;
      margin-right: auto;}}

.carousel-inner, .item {
  max-height: 340px;
  width: 100%;}
  @media (min-width: 1100px) {
    .carousel-inner {
      max-height: 400px;}}

.wrapper {
  background-color: #181B1B;}
  @media (min-width: 750px) {
    .wrapper {
      padding: 50px;}}
      @media (min-width: 1100px) {
        .wrapper {
          padding: 75px;}}

.wrapper:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;}

.section-header {
  font-weight: bold;
  color: #f7ab03;
  border-bottom: .5px solid #a5a5a5;
}

.game img {
    height: 300px;
    margin: 0;
    width: 100%;
}

.game {
  width: calc(100% - 50px);
  padding: 0;
  margin: 25px;
  border-radius: 0;
  border: none;}
  @media (min-width: 400px) {
    .game {
      float: left;
      width: calc(50% - 20px);
      margin: 10px;}}
      @media (min-width: 750px) {
        .game {
          float: left;
          width: calc(33.3% - 20px);}}
      @media (min-width: 1100px) {
        .game {
          float: left;
          width: calc(25% - 20px);}}

.game img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.caption {
  background-color: #a5a5a5;
  height: 200px;
  padding: 10px;
}

.caption h3{
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;
}

.game .description {
    color: white;
}

.description {
  font-size: 12px;
  max-height: 75px;
  overflow-x: hidden;
}

.releaseDate {
  font-size: 10px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.addBtn {
  width:100%;
  height: 35px;
  color: white;
  background-color: #f7ab03;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-radius: 0;
  clear: both;
}

.addBtn:hover {
  cursor: pointer;
}

.details {
padding: 50px;}
@media (min-width: 980px) {
  .details {
  padding: 150px;}}

.imgFrame {
  width: 50%;
  float: left;}
  @media (min-width: 980px) {
    .imgFrame {
      width: 25%;}}

.imgFrame img {
  width: 100%;
  max-width: 300px;
}

.caption-details {
  width: 100%;
  float: left;}
  @media (min-width: 980px) {
    .caption-details {
      width: calc(75% - 20px);
      margin: 10px;}}


.title-details {
  color: #f7ab03;
  font-size: 32px;
}

.description-details {
  color: white;
  font-size: 16px;
}

.release-details {
  color: #a5a5a5;
}

.price-details {
  color: white;
  font-size: 18px;
}

.addBtn-details {
  width: 200px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #f7ab03;
  border-radius: 5px;
}

.addBtn-details:hover {
  cursor: pointer;
}

.details:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

footer {
  color: white;
  background-color: #f7ab03;
  padding-bottom: 20px;
}

footer:after{
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;}

#infoBox {
  width: calc(40% - 50px);
  margin-top: 20px;
  margin-bottom: 0;
  float: left;}
  @media (min-width: 700px) {
      #infoBox {
        margin: 25px;}}

#infoBox ul{
  padding: 0;}

#infoBox li {
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;}
  @media (min-width: 700px) {
    #infoBox li  {
      font-size: 18px;}}

#infoBox h2  {
  font-size: 16px;}
@media (min-width: 700px) {
  #infoBox h2  {
    font-size: 24px;}}

#infoBox a {
  color: black;
}

#logo3 {
  width: 100%;
  margin: 10px;
}

#followBox {
  text-align: center;
  width: 60%;
  margin: 10px;
  margin-bottom: 0;
  float: left;}
  @media (min-width: 700px) {
    #followBox {
      width: calc(60% - 20px);}}

#followBox h3{
  margin-top: 0;
  color: #181B1B;
  font-weight: bold;
}

#infoBox h2 {
  margin-top: 0;
  color: #181B1B;
  font-weight: bold;
}

.follow-icon {
  height: 15px;
  margin: 5px;
  margin-bottom: 0;}
  @media (min-width: 700px) {
    .follow-icon {
      height: 25px;}}

.follow-icon img {
  height: 15px;}
  @media (min-width: 700px) {
    .follow-icon img {
      height: 25px;}}
