{{# each products }} {{!-- Loop through array of product chunks --}}
    <div class="row mb-4">
        {{# each this }} {{!-- Loop through each chunk --}}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ this.imgPath }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">${{ this.price }}</h6>
                        <p class="card-text text-muted">{{ this.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}