<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="images/game-assassins-creed-odyssey.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">$11.99</h6>
                <p class="card-text text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis eos
                    iure dicta necessitatibus autem, blanditiis totam voluptatibus labore corrupti dolor suscipit
                    tempore
                    possimus soluta et praesentium ut quidem at.</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-success text-white font-weight-bold">Add To Cart</a>
            </div>
        </div>
    </div>
</div>