<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Title</strong>
                <span class="badge badge-primary badge-pill">2</span>
                <span class="badge badge-success">$11.99</span>
                <div class="btn-group" role="group">
                    <div class="btn-group-sm" role="group">
                        <button id="tools" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="tools">
                            <a class="dropdown-item" href="#">Reduce by 1</a>
                            <a class="dropdown-item" href="#">Remove All</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <strong>Total: </strong>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-success">Checkout</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>No Items in Cart</h2>
    </div>
</div>